@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --page-padding: 1.5rem 10%;
  --top-spacing: 4rem;
  --accent-color: rgb(158, 1, 35);
  --white: #fff;
  --white2: #ddd;
  --dark-grey: #333;
  --black: #000;
  --background: #222;
  --transparent-black: rgba(0, 0, 0, 0.4);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  font-family: 'Ubuntu', sans-serif;
}

html *::-webkit-scrollbar{
  width: .6rem;
}

html *::-webkit-scrollbar-track{
  background: transparent;
}

html *::-webkit-scrollbar-thumb{
  background: #777;
  border-radius: 5px;
}

html *::-webkit-scrollbar-thumb:hover{
  background: #aaa;
}

body {
  background: var(--background);
  color: var(--white2);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

.gameRatePages {
  padding: var(--page-padding);
  color: var(--white2);
  overflow-x: hidden;
}

.gameRatePages > h1 {
  font-size: 1.8rem;
  text-align: center;
}

@media (max-width: 950px) {
  .gameRatePages {
    padding: 1rem 5%;
  }

  .gameRatePages > h1 {
    font-size: 1.6rem;
  }
}