.submitForm {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 2rem auto;
    padding: 2rem;
    background: var(--transparen-black);
    border-radius: 1.5rem;
}

.submitForm .gameTags {
    width: fit-content;
    margin-right: 1.5rem;
    border-right: 1px solid var(--accent-color);
}

.submitForm .gameTags h2 {
    font-size: 1.4rem;
    color: var(--white2);
    padding-bottom: 1rem;
}

.submitForm .gameTags .tagList {
    height: 30rem;
    overflow-y: scroll;
    padding: .5rem 1rem;
    border-radius: 5px;
    background: var(--background);
}

.submitForm .gameTags .tagList .tagRow {
    display: flex;
    align-items: center;
    padding: 2px 0;
}

.submitForm .gameTags .tagList .tagRow input[type=checkbox] {
    height: 1rem;
    width: 1rem;
}

.submitForm .gameTags .tagList .tagRow > label {
    margin-left: .5rem;
    font-size: 1.2rem;
}

.submitForm .formInput {
    width: 30rem;
}

.submitForm .formInput .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.submitForm .formInput .row > input[type=text],
.submitForm .formInput .row > textarea {
    width: 100%;
    font-size: 1.4rem;
    padding: .5rem .6rem;
    color: var(--white2);
    background: var(--background);
    border-radius: 5px;
}

.submitForm .formInput .row > input[type=text]:focus,
.submitForm .formInput .row > textarea:focus {
    outline-color: var(--accent-color);
}

.submitForm .formInput .row > input[type=file] {
    margin: 0 auto;
    padding-top: 1rem;
    font-size: 1.2rem;
    color: var(--white2);
}

.submitForm .formInput .row > textarea {
    height: 6rem;
    resize: vertical;
}

.submitForm .formInput .row ::placeholder {
    color: #aaa;
}

.submitForm .formInput .row > input[type=submit] {
    font-size: 1.3rem;
    padding: .8rem 1.6rem;
    border-radius: 5px;
    border: 2px solid var(--accent-color);
    background: var(--accent-color);
    color: #ddd;
}

.submitForm .formInput .row > input[type=submit]:hover {
    background: transparent;
}

.submitForm .formInput > hr {
    border: 1px solid var(--accent-color);
    margin: 1.5rem .5rem;
}

@keyframes showSubmitResult {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

.submitMessageContainer {
    overflow-x: hidden;
}

.submitMessageContainer .message {
    margin: 3.5rem 3%;
    padding: 3rem 2rem;
    border-radius: 2rem;
    background: var(--transparen-black);
    animation: showSubmitResult 1s;
}

.submitMessageContainer .message > * {
    color: var(--white2);
}

.submitMessageContainer .message > h1 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid var(--accent-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.submitMessageContainer .message > h2 {
    font-size: 1.4rem;
    font-weight: 500;
    text-align: center;
    margin-top: .5rem;
}

.submitMessageContainer .message > span {
    display: block;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    padding-top: 1.5rem;
}

.submitMessageContainer .message > span a {
    text-decoration: underline;
    color: var(--accent-color);
}

.submitMessageContainer .message > span a:hover {
    color: var(--white2);
}

@keyframes showIcon {
    from {
        opacity: 0;
        transform: translateX(10%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

.submitMessageContainer .message .icon {
    display: block;
    text-align: center;
    font-size: 6rem;
    padding-top: 1rem;
    animation: showIcon 1.5s;
}

.submitMessageContainer .message .green {
    color: #494;
}

.submitMessageContainer .message .red {
    color: #922;
}