.submitForm {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 2rem auto;
    padding: 2rem;
    border-radius: 1.5rem;
    background: var(--transparent-black);
}

.submitForm .gameTags {
    width: fit-content;
    margin-right: 1.5rem;
    border-right: 1px solid var(--accent-color);
}

.submitForm .gameTags h2 {
    font-size: 1.4rem;
    color: var(--white2);
    padding-bottom: 1rem;
}

.submitForm .gameTags .tagList {
    height: 30rem;
    overflow-y: scroll;
    padding: .5rem 1rem;
    border-radius: 5px;
    background: var(--background);
}

.submitForm .gameTags .tagList .tagRow {
    display: flex;
    align-items: center;
    padding: 2px 0;
}

.submitForm .gameTags .tagList .tagRow input[type=checkbox] {
    height: 1rem;
    width: 1rem;
}

.submitForm .gameTags .tagList .tagRow > label {
    margin-left: .5rem;
    font-size: 1.2rem;
}

.submitForm .formInput {
    width: 30rem;
}

.submitForm .formInput .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.submitForm .formInput .row > input[type=text],
.submitForm .formInput .row > textarea {
    width: 100%;
    font-size: 1.4rem;
    padding: .5rem .6rem;
    color: var(--white2);
    background: var(--background);
    border-radius: 5px;
}

.submitForm .formInput .row > input[type=text]:focus,
.submitForm .formInput .row > textarea:focus {
    outline-color: var(--accent-color);
}

.submitForm .formInput .row > textarea {
    height: 6rem;
    resize: vertical;
}

.submitForm .formInput .row ::placeholder {
    color: #aaa;
}

.submitForm .formInput .row > input[type=submit] {
    font-size: 1.3rem;
    padding: .8rem 1.6rem;
    border-radius: 5px;
    border: 2px solid var(--accent-color);
    background: var(--accent-color);
    color: #ddd;
}

.submitForm .formInput .row > input[type=submit]:hover {
    background: transparent;
}

.submitForm .formInput > hr {
    border: 1px solid var(--accent-color);
    margin: 1.5rem .5rem;
}

.submitForm .expandBtn {
    display: none;
    padding: 0 .8rem;
    font-size: 1.2rem;
    border-radius: 5px;
    border: 2px solid var(--accent-color);
    background: var(--accent-color);
    color: #ddd;
}

.submitForm .expandBtn:hover {
    background: var(--transparent-black);
}

@keyframes showSubmitResult {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0%);
    }
}

.submitPageMessage {
    overflow-x: hidden;
}

.submitPageMessage .message {
    margin: 3.5rem 3%;
    padding: 3rem 2rem;
    border-radius: 2rem;
    background: var(--transparent-black);
    animation: showSubmitResult 1s;
}

.submitPageMessage .message > * {
    color: var(--white2);
}

.submitPageMessage .message > h1 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: .5rem;
    border-bottom: 2px solid var(--accent-color);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.submitPageMessage .message > span {
    display: block;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    padding-top: 1.5rem;
}

.submitPageMessage .message > span a {
    text-decoration: underline;
    color: var(--accent-color);
}

.submitPageMessage .message > span a:hover {
    color: var(--white2);
}

@media (max-width: 940px) {
    .submitForm {
        width: 100%;
        margin: 1rem auto;
        padding: .8rem .5rem;
        border-radius: .5rem;
        transition: all .4s ease-out;
    }

    .submitForm .expandBtn {
        display: block;
        margin: 0 .5rem;
    }

    .submitForm .gameTags {
        width: 100%;
        margin: 0;
        border: none;
        overflow: hidden;
        transition: all .4s ease-out;
    }

    .submitForm .formInput {
        width: 0;
        overflow: hidden;
        transition: all .4s ease-out;
    }

    .submitForm .formInput > hr {
        margin: 1rem .5rem;
    }
}