.submitForm {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 2rem auto;
    padding: 2rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 1.5rem;
}

.submitForm .gameTags {
    width: 10rem;
    height: max-content;
    padding-right: 1rem;
    margin-right: 1.5rem;
    border-right: 1px solid var(--accent-color);
}

.submitForm .gameTags h2 {
    font-size: 1.4rem;
    color: var(--white2);
    padding-bottom: 1rem;
}

.submitForm .formInput {
    width: 30rem;
}

.submitForm .formInput .row {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.submitForm .formInput .row > input[type=text], textarea {
    width: 100%;
    font-size: 1.4rem;
    padding: .5rem .6rem;
    color: var(--white2);
    background: var(--background);
    border-radius: 5px;
}

.submitForm .formInput .row > input[type=text]:focus, textarea:focus {
    outline-color: var(--accent-color);
}

.submitForm .formInput .row > input[type=file] {
    margin: 0 auto;
    padding-top: 1rem;
    font-size: 1.2rem;
    color: var(--white2);
}

.submitForm .formInput .row > textarea {
    height: 6rem;
    resize: vertical;
}

.submitForm .formInput .row ::placeholder {
    color: #aaa;
}

.submitForm .formInput .row > input[type=submit] {
    font-size: 1.3rem;
    padding: .8rem 1.6rem;
    border-radius: 5px;
    background: var(--accent-color);
    color: var(--white2);
    border: 2px solid var(--accent-color);
}

.submitForm .formInput .row > input[type=submit]:hover {
    background: transparent;
}

.submitForm .formInput > hr {
    border: 1px solid var(--accent-color);
    margin: 1.5rem .5rem;
}