.gamesBtns {
    display: flex;
    justify-content: flex-end;
}

.gamesBtns > .btn {
    font-size: 1.1rem;
    font-weight: 500;
    padding: .8rem 1rem;
    border-radius: 5px;
    border: 2px solid var(--accent-color);
    background: transparent;
    color: var(--white2);
}

.gamesBtns > .btn:hover {
    background: var(--accent-color);
}

.gamesBtns > .btn .icon {
    margin-left: .3rem;
}

.gameFilter {
    padding: .5rem 0;
}

.gameFilter > label {
    font-size: 1.2rem;
}

.gameFilter > select {
    font-size: 1.1rem;
    font-weight: 500;
    margin-right: 1rem;
    padding: .2rem .5rem;
    border-radius: 5px;
    border: 1px solid var(--accent-color);
    background: rgba(0, 0, 0, 0.4);
    color: var(--white2);
}

.gameFilterTags {
    display: flex;
    flex-wrap: wrap;
}

.gameFilterTags > .tagRow {
    display: flex;
    align-items: center;
    margin: .2rem;
    padding: .2rem .5rem;
    background: rgba(0, 0, 0, 0.4);
}

.gameFilterTags > .tagRow > input {
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
}

.gameFilterTags > .tagRow > label {
    font-size: 1.1rem;
}