.gamesBtns {
    display: flex;
    justify-content: flex-end;
}

.gamesBtns > .btn {
    font-size: 1.1rem;
    font-weight: 500;
    padding: .8rem 1rem;
    border-radius: 5px;
    border: 2px solid var(--accent-color);
    color: var(--white2);
}

.gamesBtns > .btn:hover {
    background: var(--accent-color);
    color: #ddd;
}

.gamesBtns > .btn .icon {
    margin-left: .3rem;
}

.gameFilter {
    margin-bottom: 1rem;
}

.gameFilter .filter {
    display: inline-block;
}

.gameFilter .filter > label {
    font-size: 1.2rem;
}

.gameFilter .filter > select,
.gameFilter .filter > button {
    font-size: 1.1rem;
    font-weight: 500;
    margin-top: .5rem;
    margin-right: 1rem;
    padding: .2rem .5rem;
    border-radius: 5px;
    border: 1px solid var(--accent-color);
    background: var(--accent-color);
    color: #ddd;
}

.gameFilter .filter > button {
    background: var(--accent-color);
}

.gameFilter .filter > select:hover,
.gameFilter .filter > select:focus,
.gameFilter .filter > button:hover {
    background: var(--transparent-black);
    color: var(--white2);
}

.gameFilterTags {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin-bottom: 1rem;
}

@keyframes showTagList {
    from { transform: translateY(-100px); }
    to { transform: translateY(0px); }
}

.gameFilterTags > .tagRow {
    display: flex;
    align-items: center;
    margin: .2rem;
    padding: .2rem .4rem;
    background: var(--transparent-black);
    animation: showTagList .5s linear forwards;
    user-select: none;
}

.gameFilterTags > .tagRow > input {
    width: .9rem;
    height: .9rem;
    margin-right: .4rem;
}

.gameFilterTags > .tagRow > label {
    font-size: 1rem;
}