.stateInfo {
    display: flex;
    padding-top: 2rem;
    align-items: center;
    font-size: 1.4rem;
    color: var(--white2);
}

.stateInfo .icon {
    font-size: 2.2rem;
    margin-right: .8rem;
}

.gameInfo .adminEdit {
    float: right;
    padding: .5rem 1.5rem;
    font-size: 1.4rem;
    border-radius: .5rem;
    border: 2px solid var(--accent-color);
    background: var(--accent-color);
    color: var(--white2);
}

.gameInfo .adminEdit:hover {
    background: transparent;
}

.gameInfo > h1 {
    padding-bottom: 2rem;
    text-align: center;
    color: var(--white2);
}

.gameInfo .contents {
    display: flex;
}

.gameInfo .contents > img {
    width: 18rem;
    height: auto;
    border: 2px solid var(--accent-color);
}

.gameInfo .contents > p {
    padding: 1rem 0rem 1rem 4rem;
    font-size: 1.2rem;
    color: var(--white2);
}

.gameInfo > h2 .star {
    font-size: 1.8rem;
    color: #ffc700;
}

.gameInfo .gameTags {
    margin: 2rem 0;
    margin-top: 4rem;
}

.gameInfo .gameTags > h2 {
    font-size: 1.4rem;
    text-align: right;
    margin-bottom: .5rem;
}

.gameInfo .gameTags .assocTags {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: .5rem 1rem;
    border-radius: 0 0 2rem 2rem;
    border-top: 2px solid var(--accent-color);
    background: rgba(0, 0, 0, 0.4);
}

.gameInfo .gameTags .assocTags > span {
    font-size: 1rem;
    margin: .3rem;
    padding: .4rem .6rem;
    border-radius: .5rem;
    background: var(--background);
}

.gameInfo .gameTrailer {
    width: fit-content;
    margin: 2rem auto;
    padding: 1rem 3rem;
    border-radius: 15px;
    background: rgba(0, 0, 0, 0.4);
}

.gameInfo .gameTrailer > h2 {
    font-size: 1.7rem;
    text-align: center;
    margin-bottom: 1rem;
}

.gameInfo .gameTrailer > iframe {
    height: 25rem;
    width: 45rem;
    border: 2px solid var(--accent-color);
}

.gameInfo > form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    min-width: 40rem;
    margin: 0 auto;
    margin-top: 3rem;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 1.5rem;
}

.gameInfo > form .rate {
    align-self: flex-start;
    padding-bottom: 1rem; 
}

.gameInfo > form .rate:not(:checked) > input {
    position: absolute;
    top: -9999px;
}

.gameInfo > form .rate:not(:checked) > label {
    float :right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 40px;
    color: #ccc;
}

.gameInfo > form .rate:not(:checked) > label:before {
    content: '★ ';
}

.gameInfo > form .rate > input:checked ~ label {
    color: #ffc700;    
}

.gameInfo > form .rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;  
}

.gameInfo > form .rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

.gameInfo > form textarea {
    resize: vertical;
    font-size: 1.4rem;
    height: 8rem;
    width: 100%;
    padding: 1rem;
    background: var(--background);
    color: var(--white2);
    border-radius: 5px;
}

.gameInfo > form button {
    font-size: 1.3rem;
    width: fit-content;
    margin-top: 1.5rem;
    padding: .8rem 1.6rem;
    border-radius: 5px;
    background: var(--accent-color);
    color: var(--white2);
    border: 2px solid var(--accent-color);
}

.gameInfo > form button:hover {
    background: transparent;
}

.gameInfo .gameReviews {
    width: 70%;
    min-width: 40rem;
    margin: 4rem auto;
    margin-top: 3rem;
    padding: 1.5rem 3rem;
    border-radius: 1.5rem;
    background: rgba(0, 0, 0, 0.4);
}

.gameInfo .gameReviews > h1 {
    font-size: 1.8rem;
    text-align: right;
    margin-bottom: 2rem;
}

.gameInfo .gameReviews .review {
    margin: 1.5rem 0;
    padding: 1rem 1.5rem;
    background: var(--background);
}

.gameInfo .gameReviews .review > p {
    font-size: 1.3rem;
    padding: .8rem 1rem;
    border-radius: 10px;
    border: 2px solid var(--accent-color);
}

.gameInfo .gameReviews .review > span {
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
    padding-top: .2rem;
}

.gameInfo .gameReviews .review > span .star {
    font-size: 1.8rem;
    color: #ffc700;
}

.gameInfo .gameReviews .review > h4 {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: right;
}

.gameInfo .gameReviews .review > h4 span {
    text-decoration: underline 4px var(--accent-color);
}

.gameInfo .gameReviews .review > h5 {
    font-size: .9rem;
    text-align: right;
    font-weight: lighter;
    margin-top: .5rem;
}