.registerLoginBox {
    width: 34rem;
    margin: 3.5rem auto;
    padding: 1.2rem 2rem;
    border-radius: 1rem;
    background: var(--transparent-black);
}

.registerLoginBox > h1 {
    margin-bottom: 1.2rem;
    text-align: center;
}

.registerLoginBox .info {
    font-size: 1.1rem;
}

.registerLoginBox .tip {
    text-align: right;
    font-size: 1.1rem;
}

.registerLoginBox .tip > a {
    color: var(--accent-color);
    text-decoration: underline;
    margin-left: .5rem;
}

.registerLoginBox > form {
    padding: 1rem 0;
}

.registerLoginBox > form .formRow {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    padding-bottom: .6rem;
}

.registerLoginBox > form .formRow label {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.registerLoginBox > form .formRow input {
    width: 100%;
    font-size: 1.4rem;
    padding: .5rem .6rem;
    color: var(--white2);
    background: var(--background);
    border-radius: 5px;
}

.registerLoginBox > form .formRow button {
    font-size: 1.3rem;
    width: fit-content;
    margin: 0 auto;
    margin-top: .5rem;
    padding: .8rem 1.6rem;
    border-radius: 5px;
    border: 2px solid var(--accent-color);
    background: var(--accent-color);
    color: #ddd;
}

.registerLoginBox > form .formRow button:hover {
    background: transparent;
    color: var(--white2);
}

.registerLoginBox > form hr {
    border: 1px solid var(--accent-color);
    width: 100%;
}

.registerLoginBox > form .infoTip {
    padding-top: .2rem;
    font-size: 1rem;
    font-weight: 400;
    text-align: right;
    color: var(--white2);
}

@media (max-width: 600px) {
    .registerLoginBox {
        width: 98%;
        margin: 2rem auto;
        padding: 1rem 1.5rem;
    }

    .registerLoginBox > h1 {
        margin-bottom: 1rem;
        font-size: 1.6rem;
    }

    .registerLoginBox > form .formRow input {
        font-size: 1.3rem;
        padding: .4rem .5rem;
    }
}