.newGames .gameCard {
    display: flex;
    align-items: center;
    width: 100%;
    height: 8rem;
    margin: 1rem 0;
    overflow: hidden;
    background: var(--transparent-black);
    border: 1px solid var(--accent-color);
    animation: showCard .4s ease-in-out forwards;
    transition: width .5s;
}

@keyframes showCard {
    from{ transform: translateX(250%); }
    to { transform: translateX(0%); }
}

.newGames .gameCard:hover {
    width: 115%;
}

.newGames .gameCard > img {
    width: 6rem;
    box-shadow: .8rem 0rem 8rem var(--accent-color);
}

.newGames .gameCard .textContents {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: .8rem 1rem;
}

.newGames .gameCard .textContents .gameTitle {
    font-size: 1rem;
    text-align: center;
    padding-top: 1rem;
    transition: .5s;
    color: var(--white2);
}

.newGames .gameCard:hover .textContents .gameTitle {
    font-size: 1.1rem;
}

.newGames .gameCard .textContents .gamePublished {
    font-size: 1rem;
    text-align: right;
    color: var(--white2);
}

@media (max-width: 940px) {
    .newGames .gameCard {
        height: 8%;
    }

    .newGames .gameCard:hover {
        width: 105%;
    }

    .newGames .gameCard > img {
        width: 27%;
    }

    .newGames .gameCard .textContents .gameTitle {
        font-size: 120%;
    }

    .newGames .gameCard .textContents .gamePublished {
        margin-top: 2rem;
        text-align: center;
    }
}