.listedGame {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18rem;
    text-align: center;
    font-size: 1.4rem;
    border: 1px solid var(--accent-color);
    box-shadow: 0px 0px 10px var(--accent-color);
    background-size: cover;
    opacity: 0;
    animation: gameFadeIn .7s ease-in forwards;
}

@keyframes gameFadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.listedGame .listedGameInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
}

.listedGame .listedGameInfo:hover {
    opacity: 1;
}

.listedGame .listedGameInfo > h2,
.listedGame .listedGameInfo > h3{
    width: 100%;
    padding: .3rem .8rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: #ddd;
    text-shadow: 0px 0px 8px #000;
}

.listedGame .listedGameInfo > h3 {
    font-size: 1.4rem;
}

.listedGame .listedGameInfo > h3 span {
    font-size: 1.6rem;
    color: #ffc700;
}

.listedGame .listedGameInfo > hr {
    width: 85%;
    height: 4px;
    background: linear-gradient(to right , rgba(0, 0, 0, 0.2), var(--accent-color), rgba(0, 0, 0, 0.2));
}

@media (max-width: 940px) {
    .listedGame .listedGameInfo {
        opacity: 1;
    }
}