.usersData {
    display: flex;
    margin-top: 1rem;
    border-top: 5px solid var(--accent-color);
    border-radius: 15px;
    background: var(--transparent-black);
    color: var(--white2);
}

.usersData .userImg {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 4rem;
    padding-right: 2rem;
}

.usersData .userImg > img {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    border: 2px solid var(--accent-color);
}

.usersData .userImg > h2 {
    margin-left: 1rem;
}

.usersData .userInfo {
    text-align: left;
    width: 50%;
    min-width: fit-content;
    padding: 3rem 2rem;
}

.usersData .userInfo > h2 {
    padding: 1rem 0;
}

.usersData .userInfo .profileBtns {
    display: flex;
    justify-content: space-evenly;
}

.usersData .userInfo .profileBtns > button {
    font-size: 1.4rem;
    margin-top: 3rem;
    padding: 1rem 2rem;
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    background: var(--accent-color);
    color: #ddd;
}

.usersData .userInfo .profileBtns > button:hover {
    background: transparent;
    color: var(--white2);
}

.usersData .userInfo > form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: var(--transparent-black);
    border-radius: 15px;
}

.usersData .userInfo > form label {
    font-size: 1.4rem;
    margin-bottom: .8rem;
}

.usersData .userInfo > form select,
.usersData .userInfo > form input {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    padding: .5rem 1rem;
    background: var(--background);
    color: var(--white2);
}

@media (max-width: 940px) {
    .usersData {
        display: block;
    }

    .usersData .userImg {
        width: 100%;
        padding: 1rem;
    }

    .usersData .userInfo {
        width: 100%;
        padding: 1.5rem;
    }

    .usersData .userInfo > h2 {
        font-size: 1.2rem;
    }

    .usersData .userInfo .profileBtns > button {
        font-size: 1.2rem;
        margin-top: 1.5rem;
        padding: .5rem 1rem;
    }

    .usersData .userInfo > form {
        padding: 1rem;
    }

    .usersData .userInfo > form label {
        font-size: 1.2rem;
    }

    .usersData .userInfo > form select,
    .usersData .userInfo > form input {
        width: 100%;
        margin-bottom: 1.8rem;
        padding: .4rem .8rem;
        font-size: 1.2rem;
    }
}