.usersData {
    display: flex;
    margin-top: 1rem;
    border-top: 5px solid var(--accent-color);
    border-radius: 15px;
    background: var(--transparent-black);
    color: var(--white2);
}

.usersData .userImg {
    display: flex;
    align-items: center;
    width: 50%;
    padding: 4rem;
    padding-right: 2rem;
}

.usersData .userImg > img {
    height: 9rem;
    width: 9rem;
    border-radius: 50%;
    border: 2px solid var(--accent-color);
}

.usersData .userImg > h2 {
    margin-left: 1rem;
}

.usersData .userInfo {
    text-align: left;
    width: 50%;
    min-width: fit-content;
    padding: 3rem 2rem;
}

.usersData .userInfo > h2 {
    padding: .5rem 0;
    font-weight: 500;
}

.usersData .userInfo .profileBtns {
    display: flex;
    justify-content: space-evenly;
}

.usersData .userInfo .profileBtns > button,
.usersData .userInfo .profileBtns .btnSmall {
    font-size: 1.4rem;
    margin-top: 2rem;
    padding: 1rem 2rem;
    border: 2px solid var(--accent-color);
    border-radius: 5px;
    background: var(--accent-color);
    color: #ddd;
}

.usersData .userInfo .profileBtns > button:hover {
    background: transparent;
    color: var(--white2);
}

.usersData .userInfo .profileBtns .btnSmall {
    float: right;
    margin-top: 0;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
}

.usersData .userInfo > form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background: var(--transparent-black);
    border-radius: 15px;
}

.usersData .userInfo > form label {
    font-size: 1.4rem;
    margin-bottom: .8rem;
}

.usersData .userInfo > form select,
.usersData .userInfo > form input {
    font-size: 1.3rem;
    margin-bottom: 1.5rem;
    padding: .5rem 1rem;
    background: var(--background);
    color: var(--white2);
}

@keyframes showProfileMessage {
    0% {
        display: block;
        opacity: 0;
    }

    50% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
    }
}

.profileMessage {
    display: block;
    width: 90%;
    margin: 0 auto;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    background: var(--accent-color);
    color: #ddd;
    opacity: 0;
    animation: showProfileMessage 3s forwards;
}

.profileMessage > h2 {
    padding: 1.5rem 0;
    text-align: center;
    font-size: 1.6rem;
}

.profHead {
    margin-top: 1rem;
}

.myReviews {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(38rem, 1fr));
    padding: 1rem;
}

.myReviews .myReview {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: .5rem 1.5rem;
    border-bottom: 2px solid var(--accent-color);
    background: var(--transparent-black);
}

.myReviews .myReview > a {
    margin-bottom: .5rem;
    color: var(--white2);
    text-decoration: underline 3px var(--accent-color);
}

.myReviews .myReview > a:hover {
    color: var(--accent-color);
}

.myReviews .myReview > a > h2 {
    font-weight: 500;
}

.myReviews .myReview > p {
    height: 100%;
    margin-bottom: .5rem;
    font-size: 1.1rem;
}

.myReviews .myReview > h3 {
    margin-bottom: .3rem;
}

.myReviews .myReview > span {
    align-self: flex-end;
}

@media (max-width: 940px) {
    .usersData {
        display: block;
    }

    .usersData .userImg {
        width: 100%;
        padding: 1rem;
    }

    .usersData .userInfo {
        width: 100%;
        padding: 1.5rem;
    }

    .usersData .userInfo > h2 {
        font-size: 1.2rem;
    }

    .usersData .userInfo .profileBtns > button {
        font-size: 1.2rem;
        margin-top: 1.5rem;
        padding: .5rem 1rem;
    }

    .usersData .userInfo > form {
        padding: 1rem;
    }

    .usersData .userInfo > form label {
        font-size: 1.2rem;
    }

    .usersData .userInfo > form select,
    .usersData .userInfo > form input {
        width: 100%;
        margin-bottom: 1.8rem;
        padding: .4rem .8rem;
        font-size: 1.2rem;
    }

    .profileMessage > h2 {
        font-size: 1.4rem;
    }
}