.adminSection {
    display: flex;
}

.navSection {
    height: fit-content;
    border-right: 2px solid var(--accent-color);
    border-bottom: 2px solid var(--accent-color);
    border-bottom-right-radius: 15px;
    background: var(--transparent-black);
}

.navSection .navSectionBtn {
    font-size: 2rem;
    line-height: 4rem;
    width: 100%;
    min-width: 4rem;
    background: transparent;
    color: var(--white2);
}

.navSection .navSectionBtn:hover {
    background: rgba(255, 255, 255, 0.4);
}

.navSection .adminNav {
    width: max-content;
    padding: .8rem 1.4rem;
}

.navSection .adminNav .adminNavHeader {
    width: 100%;
    padding-bottom: .2rem;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3rem;
    border-bottom-right-radius: .4rem;
    border-bottom: 2px solid var(--accent-color);
    color: var(--white2);
}

.navSection .adminNav > nav {
    display: flex;
    flex-direction: column;
    padding-bottom: 1.8rem;
}

.navSection .adminNav > nav a {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    padding: .3rem .5rem;
    color: var(--white2);
}

.navSection .adminNav > nav a:hover {
    color: #aaa;
}

.navSection .adminNav > nav a .adminIcon {
    width: 1.6rem;
    margin-right: .5rem;
}

.navSection .adminNav > nav span {
    padding-right: 2rem;
}

.navSection .adminNav > nav .active {
    color: var(--white);
    font-weight: 600;
}

.adminPage {
    width: 100%;
    padding: 1rem 2%;
}

.adminPage > h1,
.adminPage > h2 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 1rem;
}

.adminPage > h2 {
    font-size: 1.8rem;
}

.adminPage .adminBtn {
    float: right;
    margin-right: 1rem;
    margin-bottom: 1rem;
    padding: .6rem 1rem;
    font-size: 1.25rem;
    border-radius: 5px;
    border: 2px solid var(--accent-color);
    background: var(--accent-color);
    color: #ddd;
}

.adminPage .adminBtn:hover {
    background: transparent;
    color: var(--white2);
}

.adminPage .tableFilter {
    width: fit-content;
    border: 2px solid var(--white2);
    border-bottom: none;
}

.adminPage .tableFilter > input,
.adminPage .tableFilter > button {
    height: 3rem;
    font-size: 1.3rem;
    background: var(--transparent-black);
    color: var(--white2);
}

.adminPage .tableFilter > input {
    padding: 1rem;
}

.adminPage .tableFilter > button {
    width: 3rem;
}

.adminPage .tableFilter > button:hover {
    background: var(--white2);
    color: var(--background);
}

.adminPage > table {
    width: 100%;
    background: var(--transparent-black);
}

.adminPage > table, th, td {
    border: 2px solid var(--white2);
    border-collapse: collapse;
}

.adminPage > table tr th,
.adminPage > table tr td {
    padding: .5rem 1rem;
    font-size: 1.15rem;
}

.adminPage > table tr td {
    padding: 1rem;
}

.adminPage > table tr .titleCell > a {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--white2);
}

.adminPage > table tr .titleCell > a:hover {
    text-decoration: underline 3px var(--accent-color);
}

.adminPage > table tr .centerCell {
    text-align: center;
    font-size: 1.2rem;
}

.adminPage > table tr .centerCell .icon {
    font-size: 2.2rem;
}

.adminPage > table tr .centerCell .green {
    color: #393;
}

.adminPage > table tr .centerCell .red {
    color: #911;
}

.adminPage > table tr .centerCell .cellOption {
    width: fit-content;
    font-size: 1.1rem;
    padding: 0 .6rem;
    cursor: pointer;
    background: transparent;
    color: #3189db;
}

.adminPage > table tr .centerCell .cellOption:hover {
    color: var(--white2);
}

.adminPage .formPage {
    padding: 3rem 2rem;
    border-radius: 1rem;
    background: var(--transparent-black);
}

.adminPage .formPage > h1 {
    text-align: center;
    font-size: 2rem;
    padding-bottom: 2rem;
}

.adminPage .formPage .formData {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.adminPage .formPage .formData .formImage > img {
    width: 15rem;
    margin-right: 2rem;
}

.adminPage .formPage .formData .formImage .selecTags > h2 {
    margin-top: .3rem;
    margin-bottom: .4rem;
}

.adminPage .formPage .formData .formImage .selecTags > li {
    margin-left: 1rem;
    font-size: 1.2rem;
    list-style-type: circle;
}

.adminPage .formPage .formData > form {
    width: 36rem;
}

.adminPage .formPage .formData > form label {
    display: block;
    font-size: 1.4rem;
    padding-bottom: .3rem;
}

.adminPage .formPage .formData > form > input,
.adminPage .formPage .formData .textArea {
    width: 100%;
    margin-bottom: 1.2rem;
    padding: .5rem 1rem;
    font-size: 1.4rem;
    border-radius: .5rem;
    background: var(--background);
    color: var(--white2);
}

.adminPage .formPage .formData > form .textArea {
    min-height: 12rem;
    resize: vertical;
}

.adminPage .formPage .formData > form .checkList > .tags {
    height: 15rem;
    overflow-y: scroll;
    margin-bottom: 1.2rem;
    padding: .5rem 1rem;
    border-radius: .5rem;
    background: var(--background);
}

.adminPage .formPage .formData > form .checkList > .tags .tagRow {
    display: flex;
    align-items: center;
}

.adminPage .formPage .formData > form .checkList > .tags .tagRow input[type=checkbox] {
    height: 1rem;
    width: 1rem;
}

.adminPage .formPage .formData > form .checkList > .tags .tagRow > label {
    margin-left: .5rem;
    font-size: 1.2rem;
}

.adminPage .formPage .formData > form > select {
    display: block;
    width: 60%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    padding: .5rem;
    font-size: 1.4rem;
    border-radius: .5rem;
    background: var(--background);
    color: var(--white2);
}

.adminPage .formPage .formData > form .formBtns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.adminPage .formPage .formData > form .formBtns .formBtn {
    display: block;
    width: fit-content;
    font-size: 1.4rem;
    margin: 0 auto;
    padding: .6rem 1rem;
    border-radius: .5rem;
    border: 2px solid var(--accent-color);
    background: var(--accent-color);
    color: #ddd;
}

.adminPage .formPage .formData > form .formBtns .formBtn:hover {
    background: transparent;
    color: var(--white2);
}

.adminPage .dashSum {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    border-top: 3px solid var(--accent-color);
}

.adminPage .dashSum .sumCard {
    flex: 1 1 15rem;
    margin: .2rem .5rem;
    padding: .5rem;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
    border-bottom: 3px solid var(--accent-color);
}

.adminPage .dashSum .sumCard > h2 {
    margin: 0 auto;
    margin-bottom: .5rem;
    width: fit-content;
}

.adminPage .dashSum .sumCard > span {
    display: block;
    margin: 0 auto;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 50%;
    border: 2px dashed var(--accent-color);
}