.navBar {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 1.2rem 5%;
    background: var(--accent-color);
}

.navBar .navLogo {
    display: flex;
    align-items: center;
    font-size: 2.2rem;
    font-weight: bold;
    color: #ddd;
}

.navBar > nav {
    display: flex;
    align-items: center;
    list-style: none;
}

.navBar > nav a {
    padding: 0 .8rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #ddd;
}

.navBar > nav a:hover {
    color: #aaa;
}

.navBar .navOptions {
    position: relative;
    display: inline-block;
    align-items: center;
}

.navBar .navOptions .optionBtn {
    font-size: 1.2rem;
    padding: .5rem 1rem;
    border-radius: 5px;
    background: rgba(0, 0, 0, 0.4);
    color: #ddd;
}

.navBar .navOptions .optionBtn:nth-child(2) {
    margin-left: .5rem;
}

.navBar .navOptions .optionBtn:hover {
    background: var(--background);
    color: var(--white);
}

.navBar .navOptions .options {
    display: none;
    position: absolute;
    z-index: 1;
    right: 0;
    min-width: 280px;
    background: var(--background);
}

.navBar .navOptions:hover .options {
    display: block;
}

.navBar .navOptions:hover .optionBtn {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background: var(--background);
    color: var(--white);
}

.navBar .navOptions .options > .option {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 1.3rem 1.8rem;
    text-align: left;
    font-size: 1.1rem;
    color: var(--white2);
    background: transparent;
    cursor: pointer;
}

.navBar .navOptions .options > .option:hover {
    background: var(--transparent-black);
}

.navBar .navOptions .options > .mobile {
    display: none;
}

@media (max-width: 940px) {
    .navBar > nav {
        display: none;
    }

    .navBar .navOptions .options > .mobile {
        display: flex;
    }
}

@media (max-width: 600px) {
    .navBar .navLogo {
        font-size: 1.8rem;
    }
}