.likeDislikeBox {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: .5rem;
    padding-top: .5rem;
    border-top: 1px solid var(--transparent-black);
}

.likeDislikeBox > button {
    margin-left: .5rem;
    padding: .5rem 1rem;
    font-size: 1.3rem;
    border: 1px solid var(--accent-color);
    background: var(--background);
    color: var(--white2);
}

.likeDislikeBox > button:hover {
    background: var(--transparent-black);
    color: var(--accent-color);
}

.likeDislikeBox .activeLikesBtn {
    background: var(--transparent-black);
}